@model prjWebApplication1.Models.Discount

@{
    ViewData["Title"] = "Create";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<h1>優惠管理系統</h1>

<h4>新增優惠資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">優惠名稱</label>
                <input asp-for="DiscountName" class="form-control" />
                <span asp-validation-for="DiscountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">優惠折扣</label>
                <input asp-for="DiscountInfo" class="form-control" />
                <span asp-validation-for="DiscountInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增資料" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DiscountAdmin">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
