@model IEnumerable<prjWebApplication1.Models.Discount>

@{
    ViewData["Title"] = "DiscountMain";
}

<h1>優惠折扣</h1>
<div>
    <div class="container p-lg-5 p-3 wow bounceInUp">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 mb-4">
                    <div class="card" style="height:130px">
                        <img src=""
                             class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.DiscountName)</h5>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.DiscountInfo)
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>