@model prjWebApplication1.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<h1>評論管理系統</h1>

<h4>評論維護</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="CommentId" class="control-label"></label>
                <input asp-for="CommentId" class="form-control" />
                <span asp-validation-for="CommentId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">評分</label>
                <input asp-for="CommentPoint" class="form-control" />
                <span asp-validation-for="CommentPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">評論</label>
                <textarea asp-for="CommentDetail" class="form-control" style="height:200px"></textarea>
                <span asp-validation-for="CommentDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
                <input type="button" value="屏蔽" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
