@model prjWebApplication1.ViewModel.CLoginViewModel

@{
    ViewData["Title"] = "會員登入";
}

<h1>會員登入</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="txtAccount" class="control-label"></label>
                <input asp-for="txtAccount" class="form-control" />
                <span asp-validation-for="txtAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="txtPassword" class="control-label"></label>
                <input asp-for="txtPassword" class="form-control" />
                <span asp-validation-for="txtPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="登入" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
