<div class="row">
    <div class="col-lg-10">
        <!-- Gallery -->
        <div class="row">
            <div class="col-lg-4 col-md-4 mb-4 mb-lg-4">
                <img src="~/Image/單人房1.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Boat on Calm Water" />

                <img src="~/Image/單人房2.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-4 mb-5 mb-lg-4">
                <img src="~/Image/單人房3.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Mountains in the Clouds" />

                <img src="~/Image/單人房4.jpg" 
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Boat on Calm Water" />
            </div>
            <!-- Gallery -->
            <div class="details">
                <h4 style="margin-left:30px">
                    <span>雙人房</span>
                    @*<div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>*@
                </h4>
                <p style="margin-left:30px">
                    <a href="https://goo.gl/maps/D34Roij8t3o3EzgX8" target="_blank">看地圖</a>   |   150人看過 | 評論
                </p>
                <ul class="package-list">
                    <li class="d-flex justify-content-between align-items-center">
                        <span>游泳池</span><img src="~/Image/swimming_icon.png" height="48" />
                        <img src="~/Image/remove.png" height="24" />
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <span>健身房</span><img src="~/Image/gym_icon.png" height="48" />
                        <img src="~/Image/check_sign_icon.png" height="24" />
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <span>Wi-fi</span><img src="~/Image/wifi_icon.png" height="48" />
                        <img src="~/Image/check_sign_icon.png" height="24" />
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <span>客房服務</span><img src="~/Image/service.png" height="48" />
                        <img src="~/Image/check_sign_icon.png" height="24" />
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <span>空調</span><img src="~/Image/air_conditioning.png" height="48" />
                        <img src="~/Image/check_sign_icon.png" height="24" />
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <span>餐廳</span><img src="~/Image/restaurant_icon.png" height="48" />
                        <img src="~/Image/check_sign_icon.png" height="24" />
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <span>價格/一晚</span><img src="~/Image/dollar.png" height="48" />
                        <a href="#" class="price-btn">2000元</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

